.selfquiz {
	border: 1px solid #ff0000;
	padding: 4px;
}
.question {
	border: 1px solid #cc3333;
	padding: 4px;
}
.prompt {
	border: 1px solid #cc6633;
	padding: 4px;
}
.feedback {
	border: 1px solid #cc3366;
	padding: 4px;
}
.answers {
	border: 1px solid #996666;
	padding: 4px;
}
.score {
	background: #ffd407;
	padding: 4px;
}
.correct {
	background: #66ff66;
}
.wrong {
	background: #ff6666;
}
.hidden {
	display: none;
}